<!DOCTYPE html>
<html>
  <head>
    <title>Student Information</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div class="container">
      <h3><a href="/students">Student List</a></h3>
      <h1>Student Information</h1>
      <table>
        <tbody>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= student.name %></td>
          </tr>
          <tr>
            <td>ID Number</td>
            <td>:</td>
            <td><%= student.ID_Number %></td>
          </tr>
          <tr>
            <td>Current Year</td>
            <td>:</td>
            <td><%= student.Current_Year_In_School %></td>
          </tr>
          <tr>
        </tbody>
      </table>
      <h3><a href="/students/edit/<%= student._id%>">EDIT Student</a></h3>
      <form action="/students/delete/<%= student._id%>" method="post">
        <button type="submit">DELETE</button>
      </form>
    </div>
  </body>
</html>
